[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=akm
Comment=Manages official kernels in EndeavourOS
Comment[fi]=Asentaa/poistaa linux-ytimiä ja näyttää ytimien tietoja
Exec=akm
#Icon=/usr/share/endeavouros/endeavouros.png
Icon=/usr/share/endeavouros/EndeavourOS-icon.png
Hidden=false
Terminal=false
StartupNotify=true
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
Categories=System
