[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=welcome
Comment=EndeavourOS welcome launcher
Exec=sh /usr/share/endeavouros/scripts/welcome
Icon=/usr/share/endeavouros/EndeavourOS-icon.png
Terminal=False
