[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Welcome
Comment=EndeavourOS Welcome launcher
Comment[fi]=EndeavourOS:n Welcome-ohjelman käynnistin
Comment[sk]=Spúšťač privítania v systéme EndeavourOS
# for autostart:
Exec=sh /usr/share/endeavouros/scripts/welcome --startdelay=3
# for desktop launcher:
#Exec=sh /usr/share/endeavouros/scripts/welcome --once
Icon=endeavouros-icon
# StartupNotify=false
# Terminal=False
Hidden=false
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
Categories=System
