[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Reflector Simple
Comment=A simple GUI for 'reflector'
Comment[fi]=Helppo graafinen käyttöliittymä ohjelmalle 'reflector'
Exec=/usr/bin/reflector-simple
#Icon=/usr/share/endeavouros/endeavouros.png
Icon=/usr/share/endeavouros/EndeavourOS-icon.png
StartupNotify=true
# Terminal=False
Hidden=false
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
Categories=System
