pkgbase = nvidia-installer
	pkgdesc = Script to setup nvidia drivers in EndeavourOS
	pkgver = 1.17
	pkgrel = 2
	url = http://www.endeavouros.com
	arch = any
	license = GPL2
	depends = python
	source = nvidia-installer-1.17::git+https://gitlab.com/EndeavourOS/nvidia-installer.git
	sha256sums = SKIP

pkgname = nvidia-installer

