[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=UpdateInTerminal
Comment=Update system in terminal
Comment[fi]=Päivitä järjestelmä uudessa pääteikkunassa
Exec=UpdateInTerminal --nt
Icon=/usr/share/endeavouros/endeavouros.png
Hidden=false
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
Categories=System
