[Unit]
Description=EOS update notifier service

[Service]
Type=oneshot
ExecStart=/usr/bin/eos-update-notifier

[Install]
WantedBy=eos-update-notifier.timer
