[Unit]
Description=Run EOS update notifier a few times a day

[Timer]
OnCalendar=11:10:00
OnActiveSec=1h 59min
Persistent=true
 
[Install]
WantedBy=timers.target
