[Desktop Entry]
Type=Application
Name=EOS update notifier
Icon=/usr/share/endeavouros/EndeavourOS-icon.png
Exec=eos-update-notifier -init -q
Comment=EndeavourOS update notifier
Hidden=false
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
# StartupNotify=false
# Terminal=false
