[Unit]
Description=Run EOS update notifier a few times a day

[Timer]
OnStartupSec=10sec
OnCalendar=0/2:25:00
Persistent=true
 
[Install]
WantedBy=timers.target
