[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=EndeavourOS apps info
Comment=Show information about specifically EndeavourOS apps
Comment[fi]=Näytä informaatiota EndeavourOS:n sovelluksista
Exec=eos-apps-info
Icon=endeavouros-icon
Hidden=false
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
Categories=System
