[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=set_once_mate
Comment=set up stuff once
Exec=sh -c ~/set_once_mate.sh
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
