[Unit]
Description=reflector-auto updates Arch mirror list in /etc/pacman.d

[Service]
Type=oneshot
ExecStart=/usr/bin/reflector-auto --save /etc/pacman.d/mirrorlist

[Install]
WantedBy=remirror.timer
